# Variavel necessaria no Render (Environment Variables)
PLAYWRIGHT_BROWSERS_PATH=/opt/render/project/.playwright
GT_SEASON_IDS=19211
SCRAPER_INTERVAL_MINUTES=15
DATABASE_URL=postgresql://...
SECRET_KEY=seu-secret-key
