flask==3.0.3
apscheduler==3.10.4
python-dotenv==1.0.1
flask-sqlalchemy==3.1.1
sqlalchemy==2.0.36
psycopg2-binary==2.9.9
openpyxl==3.1.2
gunicorn==21.2.0
pytz==2026.1.post1
requests==2.32.3
sqlalchemy-cockroachdb==2.0.2
